# This shouldn't be needed, as Safari2.cbp should generate them.
Safari2.depend
Safari2.layout

*.vs*

#Don't need anything in here, this compiles.
obj/*

#Don't include all the random test data
analysis/tests/*
analysis/safari.input
*_pycache_*

#These are generated when you run things
*.data
*.dbug
*.traj
*.xyz
*.crys
*.exe

#profiling output stuff not needed.
*.out
*.stats

