# This shouldn't be needed, as Safari2.cbp should generate them.
Safari2.depend
Safari2.layout

# Don't need any of the visual studio code stuff.
*.vs*

# Don't need anything in here, this compiles.
obj/*
bin/Release/Sea-Safari*
bin/Debug/Sea-Safari*
analysis/XYZ*

# Don't include all the random test data
analysis/tests/*
bin/Release/tests/*
bin/Debug/tests/*
analysis/safari.input
*_pycache_*
tests/*

# These are generated when you run things
*.data
*.dbug
*.traj
*.xyz
*.crys
*.exe

# profiling output stuff not needed.
*.out
*.stats
*callgrind.*
