# This shouldn't be needed, as Safari2.cbp should generate them.
Safari2.depend
Safari2.layout

#Don't need anything in here, this compiles.
obj/*

#These are generated when you run debug
bin/Debug/crystal.input
bin/Debug/sample.data
bin/Debug/sample.dbug
bin/Debug/*.exe

